div.pl_popup_sample {
  background:none;
  border:0;
  color:#000000;
  margin:0;
  padding:0;
  text-align:left;
}
div.pl_popup_sample .modal-scroll{
  overflow:hidden;
  overflow-y:auto;
}
div.pl_popup_sample #popups-overlay {
  background-color:transparent;
}
div.pl_popup_sample #popups-loading {
  width:248px;
  position:absolute;
  display:none;
  opacity:1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index:99;
}
div.pl_popup_sample #popups-loading span.popups-loading-message {
  background:#FFF url(../images/loading-large.gif) no-repeat 8px center;
  display:block;
  color:#444444;
  font-family:Arial;
  font-size:22px;
  font-weight:bold;
  height:36px;
  line-height:36px;
  padding:0 40px;
}
div.pl_popup_sample #popups-loading table,
div.pl_popup_sample .popups-box table {
  margin:0px;
}
div.pl_popup_sample #popups-loading tbody,
div.pl_popup_sample .popups-box tbody {
  border:none;
}
div.pl_popup_sample .popups-box tr {
  background-color:transparent;
}
div.pl_popup_sample td.popups-border {
  background: url(../images/popups-border.png);
  background-color:transparent;
  border: none;
}
div.pl_popup_sample td.popups-tl,
div.pl_popup_sample td.popups-tr,
div.pl_popup_sample td.popups-bl,
div.pl_popup_sample td.popups-br {
  background-repeat: no-repeat;
  height:10px;
  padding:0px;
}
div.pl_popup_sample td.popups-tl { background-position: 0px 0px; }
div.pl_popup_sample td.popups-t,
div.pl_popup_sample td.popups-b {
  background-position: 0px -40px;
  background-repeat: repeat-x;
}
div.pl_popup_sample td.popups-tr { background-position: 0px -10px; width: 10px; }
div.pl_popup_sample td.popups-cl,
div.pl_popup_sample td.popups-cr {
  background-position: -10px 0;
  background-repeat: repeat-y;
  width:10px;
}
div.pl_popup_sample td.popups-cl,
div.pl_popup_sample td.popups-cr,
div.pl_popup_sample td.popups-c { padding:0; border: none; }
div.pl_popup_sample td.popups-c { background: none; }
div.pl_popup_sample td.popups-bl { background-position: 0px -20px; }
div.pl_popup_sample td.popups-br { background-position: 0px -30px; width: 10px; }

div.pl_popup_sample .popups-box,
div.pl_popup_sample #popups-loading {
  border: 0px solid #454545;
  opacity:1;
  overflow:hidden;
  padding:0;
  background-color:transparent;
}
div.pl_popup_sample .popups-container {
  overflow:hidden;
  height:100%;
/*
  background-color:#fff;
*/
  background: url("../images/popups-border.png") repeat scroll 0 0 transparent;
  background-position: 0 -40px;
  background-repeat: repeat-x;
}
div.pl_popup_sample div.popups-title {
/*
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
*/
 background: url("/sites/all/themes/uatrade/images/triple-h2-bg.jpg") repeat-x scroll center top #7ab726;
  behavior: url("/sites/all/themes/uatrade/js/PIE.htc");
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  margin-bottom:0px;
  background-color:#ff7200;
/*
  border:1px solid #ce5c00;
*/
  padding:4px 10px 5px;
  color:white;
  font-size:1em;
  font-weight:bold;
}
div.pl_popup_sample .popups-body {
  background-color:#fff;
  padding: 8px 20px 0px;
  width: auto !important;
}
div.pl_popup_sample .popups-box .popups-buttons,
div.pl_popup_sample .popups-box .popups-footer {
  background-color:#fff;
}
div.pl_popup_sample .popups-title a.close {
  color: #000;
  text-decoration:none;
}
div.pl_popup_sample .popups-close {
  font-size:120%;
  float:right;
  text-align:right;
  border-bottom: 1px dashed #474747;
  font-weight: normal;
}
div.pl_popup_sample .popups-close:hover a.close{
  color: #fff;
}
div.pl_popup_sample .popups-close:hover{
  background-color: #474747;
}
div.pl_popup_sample .modal-loading-wrapper {
  width:220px;
  height:19px;
  margin:0 auto;
  margin-top:2%;
}

div.pl_popup_sample tbody{
  border:none;
}

div.pl_popup_sample .modal-content .modal-throbber-wrapper img {
  margin-top: 100px;
}
